html {
  background: #222;
}

.masterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  margin: 0px 0px 25px 0px;
}

button {
  margin: 25px 0px;
  padding: 15px 0px;
  background: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

button:hover {
  background: #222;
  border: solid 2px #61dafb;
  color: #61dafb;
}

img {
  border-radius: 5px;
  border: solid 5px white;
  max-width: 1000px;
  max-height: 1000px;
}
